/* created by Josh Hoak */

h1 { 
  font: italic 2em georgia, sans-serif;
  letter-spacing: 1px;
}

h2 { 
  font: normal 1em georgia, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
}

h3 {
  font: bold 1em georgia, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
}

p {
  margin-top: .5em;
}

p.spaced {
  line-height: 1.5em;
}


/* divs that have color */
.jtoplink, .toplinkwrapper {
  float: left;
  width: auto;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  color: #CC4500;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}


.jlink {
  color: #CC4500;
  font-weight: bold;
  cursor: pointer;
  display: inline;
}

#newlinklist{
  position: relative;
  display: table;
  width: auto;
  padding: 10px;
  word-spacing: 10px;
  letter-spacing: 1px;
  font: 12px verdana, sans-serif; 
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}


a:link {
  text-decoration: none;
  font-weight: bold;
  color: #CC4500;
}

a:visited, .jbuttonvisited {
  font-weight: bold;
  text-decoration: none;
  color: #CC4500; 
}

a:hover, .jbuttonhover {
  text-decoration: none;
  color: #880000;
}
/* end divs that have color */

#linklist {
  padding: 10px;
  word-spacing: 10px;
  text-align: center;
  letter-spacing: 1px;
  font: 12px verdana, sans-serif;
  text-decoration: none;
}

#mainbox{
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  font: 85% palatino;
  letter-spacing: .5px;
}


#mainbox ul.expand {
  list-style-type: none;
}

img.floatLeft {
  float: left;
  margin-right: 10px;
}

#mainbox li { 
  text-align: left;
  padding-bottom: .5em;
  margin-right: 10px;
  line-height: 1.5em; 
}

#mainbox li.expand {
  text-align: left;
  padding-bottom: 1em;
  margin-right: 10px;
  line-height: 1.5em; 
}

